@import url("./styles/revista.css");
@import url("./styles/about.css");
@import url("./styles/documentario.css");
@import url("./styles/home.css");
@import url("./styles/galeria.css");
@import url("./cabecalho.css");

:root {
  --vermelho-principal: #e84268;
  --preto-principal: #000000;
  --branco-principal: #ffff;
  --fonte-principal: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
/* body {
  display: flex;
  flex-direction: column;
} */
